@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,700;0,900;1,300;1,900&display=swap");

body {
	font-family: "Montserrat", sans-serif;
	font-size: 50px;
}
.wrapper {
	overflow: hidden;
	min-height: 100%;
}
.page {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	display: flex;
	flex-direction: column;
}
.main-screen {
	display: flex;
	flex-direction: column;
	flex: 1 0 100%;
	position: relative;
}
.main-screen__bg {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-image: url(../img/IMG_0417.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.content {
	justify-content: flex-start;
	background: #ffe6a72a;
	position: relative;
	height: calc(100vh - 60px);
	flex: 1 0 100%;
}
.container {
	max-width: 1080px;
	margin: 0 auto;
}
.login {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
.login__form {
	display: flex;
	flex-direction: column;
	align-items: space-between;
}
.login__input {
	margin-top: 15px;
	padding: 0 0 0 20px;
	border: solid 1px #3a1803;
	border-radius: 50px;
	font-weight: 700;
	font-size: 40px;
	height: 80px;
	width: 700px;
	background: transparent;
	color: #3a1803;
}
.login__input::placeholder {
	color: #3a18032d;
}
.login__input:focus {
	box-shadow: 0 5px 5px #3a18031a;
	background: #36180513;
}

.login__button {
	margin-top: 15px;
	border-radius: 50px;
	padding: 10px 20px;
	font-size: 32px;
	border: solid 1px #3a1803;
	background: transparent;
	color: rgb(61, 29, 29);
	transition: 0.1s ease-in;
}
.login__button:hover {
	background: #3a1803;
	color: #e7ddc3;
}
.registration {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
.registration__form {
	display: flex;
	flex-direction: column;
	align-items: space-between;
}
.registration__input {
	margin-top: 15px;
	padding: 0 0 0 20px;
	border: solid 1px #3a1803;
	border-radius: 50px;
	font-weight: 700;
	font-size: 40px;
	height: 80px;
	width: 700px;
	background: transparent;
	color: #3a1803;
}
.registration__input::placeholder {
	color: #3a18032d;
}
.registration__input:focus {
	box-shadow: 0 5px 5px #3a18031a;
	background: #36180513;
}

.registration__button {
	margin-top: 15px;
	border-radius: 50px;
	padding: 10px 20px;
	font-size: 32px;
	border: solid 1px #3a1803;
	background: transparent;
	color: #3a1803;
	transition: 0.1s ease-in;
}
.registration__button:hover {
	background: #3a1803;
	color: #e7ddc3;
}
.chats {
	padding: 60px 0 0 0;
	max-height: 100%;
}
.chats__room-create {
	cursor: pointer;
	position: relative;
	margin: 20px;
	width: 220px;
	height: 160px;
	border-radius: 20px;
	background: #e7ddc349;
}
.chats__room-create span {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%, -50%, 0);
	background: #3a1803;
	border-radius: 10px;
	width: 80px;
	height: 8px;
}
.chats__room-create span:last-child {
	transform: translate3d(-50%, -50%, 0) rotate(90deg);
}
.chats__room-create:hover {
	animation: roomScalling 0.7s forwards ease-in-out;
}

.chats__room {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 24px;
	cursor: pointer;
	position: relative;
	margin: 20px;
	width: 220px;
	height: 160px;
	border-radius: 20px;
	color: #e7ddc3;
	background: #3a1803;
}
.chats__room:hover {
	animation: roomScalling 0.5s forwards ease-in-out;
}
@keyframes roomScalling {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.02);
	}
	100% {
		transform: scale(1);
	}
}
.chats__rooms {
	justify-content: flex-start;
	padding: 10px;
	width: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	max-height: 800px;
	display: flex;
	flex-wrap: wrap;
}
.chats__rooms {
	flex: 1 0 100%;
	overflow-y: auto;
	overflow-x: auto;
	word-break: break-all;
	height: calc(100% - 110px);
}
.chats__rooms::-webkit-scrollbar {
	width: 0.1em;
}
.chats__rooms::-webkit-scrollbar,
.chats__roomst::-webkit-scrollbar-thumb {
	overflow: visible;
	border-radius: 4px;
}
.chats__rooms::-webkit-scrollbar-thumb {
	background: rgba(0, 0, 0, 0.2);
}
.chats__input {
	padding: 0 0 0 10px;
	border: solid 1px #3a1803;
	border-radius: 50px;
	font-weight: 700;
	font-size: 24px;
	height: 40px;
	width: 60%;
	background: transparent;
	color: #3a1803;
}
.chats__input::placeholder {
	color: #3a180333;
}
.chats__input:focus {
	background: #3a18031a;
}
.chats__button {
	margin: 10px 0 0 0;
	border-radius: 50px;
	height: 40px;
	font-size: 24px;
	font-weight: 600;
	border: solid 1px #3a1803;
	background: transparent;
	color: #3a1803;
	width: 60%;
	transition: 0.2s ease-in-out;
}
.chats__button:hover {
	background: #3a1803;
	color: #e7ddc3;
}
.chats__search {
	margin: 20px 0 10px 0;
	text-align: center;
	display: block;
	width: 100%;
}
.chats__search-input {
	padding: 0 0 0 10px;
	border: solid 1px #3a1803;
	border-radius: 50px;
	font-weight: 700;
	font-size: 24px;
	height: 40px;
	width: 40%;
	background: transparent;
	color: #3a1803;
}
.chats__search-input::placeholder {
	color: #3b0d0d33;
}
.chats__search-input:focus {
	background: #3a180327;
}
.chats__search-button {
	margin: 10px 0 0 0;
	border-radius: 50px;
	height: 40px;
	font-size: 24px;
	font-weight: 600;
	padding: 0 10px;
	border: solid 1px #3a1803;
	background: transparent;
	color: #3a1803;
	width: auto;
	transition: 0.2s ease-in-out;
}
.chats__search-button:hover {
	background: #3a1803;
	color: #e7ddc3;
}
.chats__deleteroom {
	z-index: 3;
	cursor: pointer;
	position: absolute;
	top: 10px;
	left: 10px;
	width: 30px;
	height: 30px;
}
.chats__deleteroom span {
	position: absolute;
	content: "";
	width: 100%;
	height: 3px;
	background: #e7ddc3;
	top: 50%;
	left: 0;
}
.chats__deleteroom span:last-child {
	transform: rotate(-45deg);
}
.chats__deleteroom span:first-child {
	transform: rotate(45deg);
}
.chat {
	border-radius: 5px;
	/*background: #e7ddc37c;*/
	display: flex;
	flex-wrap: wrap;
	margin: 60px 0 0 0;
	padding: 10px 0 0 0;
	height: calc(100vh - 70px);
}
.chat__leave {
	background: #3a1803d5;
	padding: 5px 20px;
	font-weight: 700;
	border-radius: 20px;
	font-size: 26px;
	color: #e7ddc3;
	position: absolute;
	top: 65px;
	left: 20px;
	z-index: 5;
}
.chat__leave:hover {
	transition: 0.2s ease-in-out;
	cursor: pointer;
	top: 70px;
	background: rgba(184, 42, 42, 0.767);
}
.chat__loader-container {
	position: relative;
	width: 100%;
	height: 100px;
}
.chat__message-place {
	/*border-left: 1px solid #3a1803;*/
	background: #e7ddc37c;
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
	flex: 1 0 70%;
	height: 100%;
}
.chat__message-place:hover .chat__list::-webkit-scrollbar {
	opacity: 0;
	/*-webkit-transition: all 0.5s;*/
}

.chat__list {
	flex: 1 0 100%;
	overflow-y: auto;
	overflow-x: auto;
	word-break: break-all;
	height: calc(100% - 100px);
}
.chat__list::-webkit-scrollbar {
	width: 0.1em;
}
.chat__list::-webkit-scrollbar,
.chat__list::-webkit-scrollbar-thumb {
	overflow: visible;
	border-radius: 4px;
}
.chat__list::-webkit-scrollbar-thumb {
	background: rgba(0, 0, 0, 0.2);
}
.chat__list:hover {
	transition: 0.2s ease-in-out;
	box-shadow: 0 30px 2px inset rgba(0, 0, 0, 0.014), 0 -30px 2px inset rgba(0, 0, 0, 0.014);
}
.chat__info {
	/*border-right: 1px solid #3a1803;*/
	background: #e7ddc37c;
	display: flex;
	flex-direction: column;
	padding: 20px 0 0 0;
	margin: 0 0 0 1px;
	flex: 1 0 29%;
}

.chat__form {
	background: rgba(211, 192, 192, 0);
	display: flex;
	align-items: center;
	flex: 1 0 100%;
	height: 50px;
}
.chat__users {
	font-size: 30px;
	font-weight: 700;
	margin: 10px 0 0 10px;
}
.chat__users li {
	margin: 10px 0 0 0;
}
.chat__input {
	margin: 0 5px 0 10px;
	padding: 0 0 0 10px;
	border: solid 1px rgb(53, 17, 17);
	border-radius: 50px;
	font-weight: 700;
	font-size: 24px;
	height: 40px;
	width: 100%;
	background: transparent;
	color: rgb(61, 29, 29);
}
.chat__input::placeholder {
	color: #3b0d0d33;
}
.chat__input:focus {
	box-shadow: inset 0 0 20px rgba(56, 9, 9, 0.212);
}
.chat__button {
	margin: 0 10px 0 5px;
	border-radius: 50px;
	width: 100px;
	height: 40px;
	font-size: 24px;
	font-weight: 600;
	border: solid 1px rgb(53, 17, 17);
	background: transparent;
	color: rgb(61, 29, 29);
}
.chat__header {
	flex: 1 0 100%;
	height: 50px;
	background: #3a1803;
}
